@media screen and (min-width:641px) {
    .imgContainer{
        width: 300px;
        height:300px;
        align-self: center;
    }
    .moves2{
        padding-top:30px;
        
    }
    .moves ol{
    
        padding-bottom:60px;
        justify-items: center;
    }
    .moves ol li{
        min-width: 250px;
        max-width: 400px;
        align-items: center;
        
    }
    
}

@media screen and (min-width:1030px){
    body{
        margin-left:30px;
    }
    
    .container{
        flex-direction: row;
        column-gap: 50px    ;
        row-gap: 30px;
    
        
    }
    .imgContainer{
        display: flex;
        align-items: center;
        justify-content : end;
        flex-basis: 35%;
        order:3;
        
    }
    .imgContainer img{
        width: 400px;
        height: 400px;
        
       
    }
    
    .name h1{
    font-size: 80px;
    flex-basis: 100%;
    }
    .name h2{
        font-size: 45px;
    }
    .moves2{
        display: flex;
        justify-content: start;
        padding:0;
        padding-left:24px;
        margin-top:55px;
        margin-left: 5px;
        min-width: 200px;
        max-width: 400px;
       
       
    }

    .moves{
        order:2;
       
        flex-basis: 40%;
    }

    
   

    .moves ol::before{
        content: '';
        display: block;
        top:115px;
        left:0;
        right: auto;
        width: 4px;
        height: 170px;
        background: rgba(255,255,255,.35);
        border-radius: 2px;
        position: absolute;
        
    }

    
    .type{
        row-gap: 100px;
        display: flex;
        justify-content: start;
        /* margin-top:153px; */
        min-width: 15px;
        order: 4;
        
        flex-basis: 100%;
    }

    
    
    .pesquisa{
        width: 40px;
        margin:10px auto;
        height: 40px;
        border-radius: 50px;
        background: #f7f7f7;
        display: flex;
        justify-content: space-around;
        align-items: center;
        grid-area: pesquisa;
        transition: .5s;
       
    }

    .search-txt{
        border: none;
        background:none;
        outline: none;
        width: 0px;
        padding: 0;
        color: #686868da;
        font-size: 18px;
        font-weight: 900px;
        text-align:start;
        transition: .5s;
       
    }

     .pesquisa:hover >.form>.search-txt{
        width: 400px;
        padding: 0 6px;
    }
    .containerPesquisa:hover> .pesquisa{
        width: 450px;
        padding: 0px 6px;
    }



    








}  
